.Title{
	text-align: center;
	font-weight: bold;
}
.Name{
	text-align: center;
	font-weight: normal;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
